<div class="container">
    <div class="well">
        <label for="questionTitle">Title</label>
        <input id="questionTitle" ng-model="question.title" class="form-control">
    </div>
    <editor content="question.content"></editor>
    <div class="well">
        <label for="questionTags">Tags</label>
        <tags-input id="questionTags" ng-model="question.tags"></tags-input>
    </div>
    <a class="btn btn-primary" ng-click="postQuestion()">Ask <i class="fa fa-question-circle"></i></a>
</div>

