<div style="width:400px; position:absolute; top: 110px; left: 140px">
    <search></search>
</div>
<div class="container">
    <div class="well">
        <label for="questionTitle">Title</label>
        <input id="questionTitle" ng-model="question.title" class="form-control">
    </div>
    <editor content="question.content"></editor>
    <div class="well">
        <label for="questionTags">Tags</label>
        <tags-input id="questionTags" ng-model="question.tags"></tags-input>
    </div>
    <a class="btn btn-primary" ng-click="updateQuestion()">Update <i class="fa fa-pencil-square-o"></i></a>
</div>
